.container{
    width: 1000px;
    margin: auto;
    padding: 15px 0;
}
.search-box{
    text-align: center;
    border: 1px solid dodgerblue;
    padding: 5px 20px;
    width: fit-content;
    margin: auto;
}
.notes{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
.card{
    width: 170px;
    height: auto;
    box-shadow: 2px 2px 2px 0px dodgerblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: .5px solid dodgerblue;
}
.card h3{
    margin: 15px 0;
}
.card p{
    font-size: 15px;
    margin-bottom: 15px;
}