<mat-card>
    <mat-card-title>Add New Note</mat-card-title>
    <mat-card-content>
        <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" name="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Note Content</mat-label>
            <textarea matInput name="message" id="message"></textarea>
        </mat-form-field>     
        <button mat-raised-button color="primary">Save</button>
    </mat-card-content>
</mat-card>
