.container {
    width: 1200px;
    margin: auto;
    padding: 15px 0;
}

.notes {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

mat-card{
    width: 250px;
    height: 180px;
}
mat-card-title {
    margin: 15px 0 !important;
}

mat-card mat-card-content {
    font-size: 15px;
    margin-bottom: 15px !important;
}
.controls{
    display: flex;
    justify-content: space-evenly;
}